$color-primary: #144b52;

$color-primary-light: #31848f;
$color-primary-dark: #06353b;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-background: #f7f7f7;
$color-black: #000;

$default_font-size: 1.6rem;

//grid
$grid-width: 114rem;
$grid-vertical-gutter: 8rem;
$grid-horizontal-gutter: 6rem;
